body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007BFF;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1; /* mismo ancho para los dos */
    padding: 10px 15px; /* ajustar padding para botones */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.login {
    background-color: #007BFF;
    color: #fff;
}

button.register {
    background-color: #0056b3;
    color: #fff;
}
